@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lab15 GRD/Dordrecht POC </h1>
    <p class="lead">Incidental Contract and Invoicing System built with Blockchain Technologies</p>
</div>

