<ul class="nav nav-tabs">
    <li role="presentation" class="@Html.IsSelected(controller: "PersonaTypes")"><a href="/PersonaTypes">Persona Types</a></li>
    <li role="presentation" class="@Html.IsSelected(controller: "MunicipalEntityTypes")"><a href="/MunicipalEntityTypes">Municipal Entity Types</a></li>
    <li role="presentation" class="@Html.IsSelected(controller: "MunicipalEntities")"><a href="/MunicipalEntities">Municipal Entities</a></li>
    <li role="presentation" class="@Html.IsSelected(controller: "UserAccounts")"><a href="/UserAccounts">User Accounts</a></li>
</ul>
