<ul class="nav nav-tabs">
    <li role="presentation" class="@Html.IsSelected(controller: "BlockchainNodeServers")"><a href="/BlockchainNodeServers">Blockchain Node Servers</a></li>
    <li role="presentation" class="@Html.IsSelected(controller: "BlockchainAccounts")"><a href="/BlockchainAccounts">Blockchain Accounts</a></li>
    <li role="presentation" class="@Html.IsSelected(controller: "SmartContracts")"><a href="/SmartContracts">SmartContracts</a></li>
</ul>
