<ul class="nav nav-tabs">
    <li role="presentation" class="@Html.IsSelected(controller: "BudgetBalanceTransactions")"><a href="/BudgetBalanceTransactions">Budget Balance Transactions</a></li>
    <li role="presentation" class="@Html.IsSelected(controller: "Budgets")"><a href="/Budgets">Budgets</a></li>
</ul>
