<ul class="nav nav-tabs">
    <li role="presentation" class="@Html.IsSelected(controller: "ProductCodeCategories")"><a href="/ProductCodeCategories">Code Categories</a></li>
    <li role="presentation" class="@Html.IsSelected(controller: "ProductCodes")"><a href="/ProductCodes">Codes</a></li>
</ul>

