@{
    ViewBag.Title = "Initiate a New Contract";
}

<div class="jumbotron">
    <h1>Initiate a New Contract</h1>
    <h2>Choose a template...</h2>
</div>

<div class="row">
    <div class="col-md-4 contract">
        <a class="default-skin" href="/Contract/CreateService">
            <div class="contract-logo"></div>
            <h3>
                Service Contract
            </h3>
        </a>
    </div>
    <div class="col-md-4 contract">
        <a class="default-skin" href="/Contract/CreateProduct">
            <div class="contract-logo"></div>
            <h3>
                Product Contract
            </h3>
        </a>
    </div>
    <div class="col-md-4 contract">
        <a class="default-skin" href="/Contract/CreateTrainning">
            <div class="contract-logo"></div>
            <h3>
                Trainning Contract
            </h3>
        </a>
    </div>
</div>